body {
	/* font-family: arial; */
	margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
}

h3 {
	margin: 8px;
}

#main_window {
	width: 1300px;
	height: 80%;
	margin: 10% auto;
	margin-top: 5%;
	margin-bottom: 5%;
	/*background-color: #F9F7F7;*/
	border-radius: 2.5rem;
	/*margin: auto;
	margin-top: 50px;*/
	padding: 25px;
	border: 1px solid gray;
	overflow: hidden;
	background-color: rgb(250, 250, 250);
}

#left_pane {
	float: left;
	width: 25%;
	padding:5px;
}

#available_metrics_filter {
	margin: 5px;
	border: 1px solid gray;
	padding: 8px;
	background-color: rgb(230, 230, 230);
}

#available_metrics_list {
	border: 1px solid gray;
	padding: 10px;
	background-color: white;
}

#available_metrics_list li {
	margin-top: -1px;
	border: 1px solid gray;
	padding: 5px;
	list-style-type: none;
	background-color: white;
}

#right_pane {
	float: left;
	width: 25%;
}

#skippable_rides_list, #hope_rides_list, #must_go_list {
	margin: 5px;
	border: 1px solid gray;
	padding: 10px;
	background-color: white;
}

#skippable_rides_list li, #hope_rides_list li, #must_go_list li{
	margin-top: -1px;
	border: 1px solid gray;
	padding: 5px;
	list-style-type: none;
	background-color: white;
}

#skippable_rides_list li:last-child, #hope_rides_list li:last-child, #must_go_list li:last-child {
	border: 1px dotted gray;
}

#next_metric {
	color: gray;
}

#next_metric2 {
	color: gray;
}

#next_metric3 {
	color: gray;
}

#remove_metric {
	margin: 5px;
	border: 1px dotted gray;
	padding: 5px;
	color: gray;
	text-align: center;
	background-color: white;
}

.draggable {
	position: relative;
	cursor: default;
}

.dragOver {
	background-color: rgb(232, 232, 255) !important;
}

.plan_result_window {
	width: 80%;
	height: 70%;
	padding:10px;
	margin: 10% auto;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: #F9F7F7;
	border-radius: 2.5rem;
}

.plan_result_list {
	width: 80%;
	border: 1px solid gray;
	padding: 5px;
	background-color: rgb(230, 230, 230)
}